<!-- Error State -->
<ng-container *ngIf="hasEmptyStateError() && !isLoading">
    <div class="mat-title pxb-auth-title">{{ eulaTitle }}</div>
    <div class="pxb-create-account-invite-content-error-state">
        <!-- TODO: How should we handle error states? -->
        <pxb-empty-state title="Error" description="There was an error during account registration.">
            <mat-icon pxb-empty-icon>error</mat-icon>
        </pxb-empty-state>
    </div>
    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <button mat-flat-button color="primary" (click)="navigateToLogin()" [style.width.%]="100">Okay</button>
    </div>
</ng-container>

<ng-container *ngIf="!hasEmptyStateError()">
    <pxb-create-account-eula-step
        *ngIf="currentPageId === 0 && isValidRegistrationLink"
        [(userAcceptsEula)]="userAcceptsEula"
        [eulaTitle]="eulaTitle"
        [eulaConfirmRead]="eulaConfirmRead"
    >
        <ng-content pxb-eula-title select="[pxb-eula-title]"></ng-content>
        <ng-content pxb-eula-confirm-read select="[pxb-eula-confirm-read]"></ng-content>
    </pxb-create-account-eula-step>

    <pxb-create-account-create-password-step
        *ngIf="currentPageId === 1"
        [(password)]="password"
        [(passwordMeetsRequirements)]="passwordMeetsRequirements"
        (advance)="canContinue() ? goNext() : ''"
        [createPasswordTitle]="createPasswordTitle"
        [createPasswordInstructions]="createPasswordInstructions"
        [passwordFormLabel]="passwordFormLabel"
        [confirmPasswordFormLabel]="confirmPasswordFormLabel"
        [passwordMismatchError]="passwordMismatchError"
    >
        <ng-content pxb-create-password-title select="[pxb-create-password-title]"></ng-content>
        <ng-content pxb-create-password-instructions select="[pxb-create-password-instructions]"></ng-content>
    </pxb-create-account-create-password-step>

    <pxb-create-account-account-details-step
        *ngIf="currentPageId === 2 && !skipAccountDetails()"
        [useDefaultAccountDetails]="useDefaultAccountDetails"
        [accountDetailsInstructions]="accountDetailsInstructions"
        [accountDetailsTitle]="accountDetailsTitle"
        (accountDetailsChange)="accountDetails = $event"
        (validAccountDetailsChange)="hasValidAccountDetails = $event"
        (advance)="canContinue() ? goNext() : ''"
    >
        <ng-content pxb-account-details-title select="[pxb-account-details-title]"></ng-content>
        <ng-content pxb-account-details-instructions select="[pxb-account-details-instructions]"></ng-content>
        <ng-content pxb-account-details-form select="[pxb-account-details-form]"></ng-content>
    </pxb-create-account-account-details-step>

    <pxb-create-account-account-created-step
        *ngIf="currentPageId === 3 || (currentPageId === 2 && skipAccountDetails())"
        [userName]="getUserName()"
        [accountCreatedTitle]="accountCreatedTitle"
        [successTitle]="successTitle"
        [successDescription]="successDescription"
    >
        <ng-content pxb-account-created-title select="[pxb-account-created-title]"></ng-content>
        <ng-content pxb-account-created-success-title select="[pxb-account-created-success-title]"></ng-content>
        <ng-content pxb-account-created-success-description select="[pxb-account-created-success-description]"></ng-content>
    </pxb-create-account-account-created-step>

    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <ng-container *ngIf="showStepper()">
            <pxb-mobile-stepper [steps]="getNumberOfSteps()" [activeStep]="currentPageId">
                <button pxb-back-button mat-stroked-button color="primary" style="width: 100px;" (click)="goBack()">
                    <ng-container *ngIf="isEmpty(backButtonTextEl)">{{ backButtonText }}</ng-container>
                    <div #backButtonTextVC>
                        <ng-content select="[pxb-back-button-text]"></ng-content>
                    </div>
                </button>
                <button
                    pxb-next-button
                    mat-flat-button
                    color="primary"
                    style="width: 100px;"
                    [disabled]="!canContinue()"
                    (click)="goNext()"
                >
                    <ng-container *ngIf="isEmpty(nextButtonTextEl)">{{ nextButtonText }}</ng-container>
                    <div #nextButtonTextVC>
                        <ng-content select="[pxb-next-button-text]"></ng-content>
                    </div>
                </button>
            </pxb-mobile-stepper>
        </ng-container>
        <button *ngIf="!showStepper()" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%">
            <ng-container *ngIf="isEmpty(doneButtonTextEl)">{{ doneButtonText }}</ng-container>
            <div #doneButtonTextVC>
                <ng-content select="[pxb-done-button-text]"></ng-content>
            </div>
        </button>
    </div>
</ng-container>
