<!-- Error State -->
<ng-container *ngIf="hasEmptyStateError() && !isLoading">
    <div class="mat-title pxb-auth-title">{{ eulaStepTitle }}</div>
    <div class="pxb-create-account-invite-content-error-state">
        <pxb-empty-state>
            <mat-icon pxb-empty-icon>error</mat-icon>
            <div pxb-title>
                <div *ngIf="isEmpty(invalidRegistrationLinkTitleEl)">{{ invalidRegistrationLinkTitle }}</div>
                <div #invalidRegistrationLinkTitleVC>
                    <ng-content select="[pxb-invalid-registration-link-error-title]"></ng-content>
                </div>
            </div>
            <div pxb-description>
                <div *ngIf="isEmpty(invalidRegistrationLinkDescriptionEl)">
                    {{ invalidRegistrationLinkDescription }}
                </div>
                <div #invalidRegistrationLinkDescriptionVC>
                    <ng-content select="[pxb-invalid-registration-link-error-description]"></ng-content>
                </div>
            </div>
        </pxb-empty-state>
    </div>
    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <button mat-flat-button color="primary" (click)="navigateToLogin()" [style.width.%]="100">
            {{ okayButtonText }}
        </button>
    </div>
</ng-container>

<ng-container *ngIf="!hasEmptyStateError()">
    <pxb-create-account-eula-step
        *ngIf="currentPageId === 0 && isValidRegistrationLink"
        [(userAcceptsEula)]="userAcceptsEula"
        [eulaStepTitle]="eulaStepTitle"
        [eulaConfirmRead]="eulaConfirmRead"
    >
        <ng-content pxb-eula-confirm-read select="[pxb-eula-confirm-read]"></ng-content>
    </pxb-create-account-eula-step>

    <pxb-create-account-create-password-step
        *ngIf="currentPageId === 1"
        [(password)]="password"
        [(passwordMeetsRequirements)]="passwordMeetsRequirements"
        (advance)="canContinue() ? goNext() : ''"
        [createPasswordStepTitle]="createPasswordStepTitle"
        [createPasswordInstructions]="createPasswordInstructions"
        [passwordFormLabel]="passwordFormLabel"
        [confirmPasswordFormLabel]="confirmPasswordFormLabel"
        [passwordMismatchError]="passwordMismatchError"
    >
        <ng-content pxb-create-password-instructions select="[pxb-create-password-instructions]"></ng-content>
    </pxb-create-account-create-password-step>

    <pxb-create-account-account-details-step
        *ngIf="currentPageId === 2 && !skipAccountDetails()"
        [useDefaultAccountDetails]="useDefaultAccountDetails"
        [accountDetailsInstructions]="accountDetailsInstructions"
        [accountDetailsStepTitle]="accountDetailsStepTitle"
        (accountDetailsChange)="accountDetails = $event"
        (validAccountDetailsChange)="hasValidAccountDetails = $event"
        (advance)="canContinue() ? goNext() : ''"
    >
        <ng-content pxb-account-details-instructions select="[pxb-account-details-instructions]"></ng-content>
        <ng-content pxb-account-details-form select="[pxb-account-details-form]"></ng-content>
    </pxb-create-account-account-details-step>

    <pxb-create-account-account-created-step
        *ngIf="currentPageId === 3 || (currentPageId === 2 && skipAccountDetails())"
        [userName]="getUserName()"
        [accountCreatedStepTitle]="accountCreatedStepTitle"
        [successTitle]="successTitle"
        [successDescription]="successDescription"
    >
        <ng-content pxb-account-created-success-title select="[pxb-account-created-success-title]"></ng-content>
        <ng-content
            pxb-account-created-success-description
            select="[pxb-account-created-success-description]"
        ></ng-content>
    </pxb-create-account-account-created-step>

    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <ng-container *ngIf="showStepper()">
            <pxb-mobile-stepper [steps]="getNumberOfSteps()" [activeStep]="currentPageId">
                <button pxb-back-button mat-stroked-button color="primary" style="width: 100px;" (click)="goBack()">
                    {{ backButtonText }}
                </button>
                <button
                    pxb-next-button
                    mat-flat-button
                    color="primary"
                    style="width: 100px;"
                    [disabled]="!canContinue()"
                    (click)="goNext()"
                >
                    {{ nextButtonText }}
                </button>
            </pxb-mobile-stepper>
        </ng-container>
        <button *ngIf="!showStepper()" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%">
            {{ doneButtonText }}
        </button>
    </div>
</ng-container>
